@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Slab', serif;
}

.first-section{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;

}

.navbar-right{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}


.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 0px;
}
.content-left, .content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

img{
    margin: 50px;
}

.Sign-up-first{
    margin-left: -40%;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(0, 119, 255);
    border-radius: 8px;
}

.second-section{
    background-color: white;
    margin-bottom: 50px;
}

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.row-blue-divs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    max-width: 100%;
}

.box-blue{
    border: 2px solid rgb(0, 119, 255);
    width: 150px;
    height: 150px;
    border-radius: 5px;
    
}

.p-second{
    font-size: 13px;
    color: #1F2937;
    text-align: center;
}

.quote-section{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote{
    font-size: 23px;
    color: #1f2937;
    font-style: italic;
    font-weight: light;
}

h3{
    font-size: 23px;
    margin-left: 300px;
}